<?xml version="1.0" encoding="UTF-8"?>
<beans:beans 	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xmlns:beans="http://www.springframework.org/schema/beans"
				xmlns:mvc="http://www.springframework.org/schema/mvc"
				xmlns:aop="http://www.springframework.org/schema/aop" 
				xmlns:context="http://www.springframework.org/schema/context"
				xsi:schemaLocation="http://www.springframework.org/schema/aop 
									http://www.springframework.org/schema/aop/spring-aop.xsd 
									http://www.springframework.org/schema/beans 
									http://www.springframework.org/schema/beans/spring-beans.xsd
									http://www.springframework.org/schema/mvc
        							http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
									http://www.springframework.org/schema/context 
									http://www.springframework.org/schema/context/spring-context.xsd">
									

	<aop:aspectj-autoproxy proxy-target-class="false" />
	
	<!-- Enables the Spring MVC @Controller programming model -->
	<context:annotation-config />
   	<context:component-scan base-package="com.ghc.fileuploader" />
    <mvc:annotation-driven />
	
	<!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
	<mvc:resources mapping="/script/**" location="/kent-style/script/" />
	<mvc:resources mapping="/views/**" location="/kent-style/views/" />
	<mvc:resources mapping="/kent-style/**" location="/kent-style/" />

	<!-- Configure to plugin JSON as request and response in method handler -->
	<beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<beans:property name="messageConverters">
			<beans:list>
				<beans:ref bean="jsonMessageConverter"/>
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<!-- Configure bean to convert JSON to POJO and vice versa -->
	<beans:bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
	</beans:bean>	
	
	<!-- Configure Aspect Beans, without this Aspects advices wont execute -->
	<beans:bean name="loggingAspect" class="com.ghc.fileuploader.aspect.logging.LoggingAspect" />
	
</beans:beans>
