<div style="width: 500px; padding: 20px">
	<input id="fileupload" type="file" name="files[]"
		data-url="rest/file/upload" multiple>

	<div id="dropzone">Drop files here</div>

	<div id="progress">
		<div style="width: 0%;"></div>
	</div>

	<table id="uploaded-files">
		<tr>
			<th>File Name</th>
			<th>File Size</th>
			<th>File Type</th>
			<th>Download</th>
		</tr>
	</table>
</div>

<script src="script/vendor/jquery.ui.widget.js"></script>
<script src="script/jquery.iframe-transport.js"></script>
<script src="script/jquery.fileupload.js"></script>
